.post {

	header {
		time, .byline {
			opacity: 0.8;
			font-size: rem-calc(15);
			font-family: $header-font-family;
		}
	}
	.entry-content {
		img {
			margin-bottom: 1rem;
		}
		.more-link {
			font-family: $header-font-family;
		}
	}

	hr {
		background-image: url(../images/ramen-line-bg.svg);
		height: 20px;
		margin-top: 2rem;
		margin-bottom: 0;
		border: none;
		background-size: 20%;
		background-repeat: repeat-x;
	}

	&:last-child {
		hr {
			display: none;
		}
	}
}