.container {
  @include grid-row();
}

#masthead {
  text-align: center;
  .logo {
    max-width: 400px;
    margin: 0 auto;
  }
}

#page, #single-post {
  margin-top: 3rem;
  @include breakpoint(small){
    @include grid-column(12);
  }
  @include breakpoint(medium){
    @include grid-column(10);
    @include grid-column-position(center);
  }
 

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);

      .post {
        margin-bottom: 2rem;
      }
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

}
