.container {
  @include grid-row();
}

#masthead {
  
  background-image: url(../images/ramen-line-bg.svg);
  background-image: url(../images/ramen-line-bg.png);
  
  background-repeat: repeat-x;
  background-position: bottom;
  padding-bottom: 3rem;

  @include breakpoint(small){
    background-size: 20vw;
  }

  @include breakpoint(medium){
    background-size: 10vw;
  }


  //-webkit-animation: slide 5s linear infinite;
  @-webkit-keyframes slide {
    from { background-position: 0 bottom; }
    to { background-position: -10vw bottom; }
  }

  .logo-container {
    position: relative;
    display: block;
    @include grid-row();
    text-align: center;
    

    img.logo {
      @include breakpoint(small){
        @include grid-column(10);
        @include grid-column-position(center);
        margin-top: 2rem;
      }
      @include breakpoint(medium){
        @include grid-column(5);
        @include grid-column-position(center);
        margin-top: 0;

      }
    }

    
  }
}

#page, #single-post {
  margin-top: 3rem;
  @include breakpoint(small){
    @include grid-column(12);
  }
  @include breakpoint(medium){
    @include grid-column(10);
    @include grid-column-position(center);
  }


  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);

      .post {
        margin-bottom: 2rem;

        .tags {
          font-family: $header-font-family;
          margin-top: 2rem;
        }
      }
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

}

#respond, #comments {
  background-image: url(../images/ramen-line-bg.png);
  background-repeat: repeat-x;
  background-position: top;
  padding-top: 3rem;
  margin-top: 2rem; 

  @include breakpoint(small){
    background-size: 15vw;
  }

  @include breakpoint(medium){
    background-size: 6vw;
  }

  #allowed_tags {
    font-size: rem-calc(14);
  }
}

.pagination {
  .current {
    background-color: transparent;

  }
  a {
    &:hover {
      background-color: transparent;
    }
  }
  a:not(.next):not(.prev) {
          border: 2px solid black;
          border-radius: 6px;

          &:hover {
            background-color: black;
            color: $rg-pink;
          }

    }
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  border-radius: 10px;
}
