.container {
  @include grid-row();
}

#masthead {
  
  background-image: url(../images/ramen-line-bg.svg);
  background-image: url(../images/ramen-line-bg.png);
  background-size: 20vh;
  background-repeat: repeat-x;
  background-position: bottom;
  padding-bottom: 3rem;

  .logo-container {
    position: relative;
    display: block;
    @include grid-row();
    text-align: center;
    

    img.logo {
      @include breakpoint(small){
        @include grid-column(10);
        @include grid-column-position(center);
        margin-top: 2rem;
      }
      @include breakpoint(medium){
        @include grid-column(6);
        @include grid-column-position(center);
        margin-top: 0;

      }
    }

    
  }
}

#page, #single-post {
  margin-top: 3rem;
  @include breakpoint(small){
    @include grid-column(12);
  }
  @include breakpoint(medium){
    @include grid-column(10);
    @include grid-column-position(center);
  }


  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);

      .post {
        margin-bottom: 2rem;

        .tags {
          font-family: $header-font-family;
          margin-top: 2rem;
        }
      }
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

}
