.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.more-link {
	border-bottom: 2px solid black;
}

a[rel=tag]{
	color: red;
	display: inline-block;
	background-color: #f47771;
	border-radius: 4px;
	color: #000;
	padding: 0.1rem 0.4rem;
}
