.button {
	font-family: $header-font-family;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	padding-bottom: 0.6em;

	&:active {
	    transform: scale(0.95);
	}
}
a.more-link {
	border-bottom: 3px solid black;
	font-weight: bold;
	text-decoration: none !important;
}

a[rel=tag]{ // Tags
	display: inline-block;
	margin-right: rem-calc(4);
	margin-bottom: rem-calc(4);
	//background-color: #f47771;
	background-color: rgba(0,0,0,0.8);
	color: $rg-pink;
	font-size: rem-calc(13);
	font-weight: bold;
	border-radius: 4px;
	padding: 0.1rem 0.4rem;
}
