.sidebar {

	article.widget {
		margin-bottom: 1rem;

		h6 {
			text-transform: uppercase;
		}

		@include breakpoint(small) {
			font-size: rem-calc(16);
		}

		@include breakpoint(medium) {
			font-size: rem-calc(14);
		}

		ul {
			
			li {
				margin-bottom: rem-calc(6);
				a {
					opacity: 0.6;
					
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	article.widget_search {
		.input-group-field {
			border: 3px solid black;
			background: transparent;
			box-shadow: none;
			margin-bottom: 1rem;
			border-radius: 10px;

			&::-webkit-input-placeholder { color: rgba(0,0,0,0.5); }
			&:-moz-placeholder { color: rgba(0,0,0,0.5); }
			&::-moz-placeholder { color: rgba(0,0,0,0.5); }
			&:-ms-input-placeholder { color: rgba(0,0,0,0.5); }
		}
		.input-group-button {
			display: none;
		}
	}
	@include breakpoint(small) {
		@include grid-column(12);

		background-image: url(../images/ramen-line-bg.svg);
		background-image: url(../images/ramen-line-bg.png);
		background-size: 20vh;
		background-repeat: repeat-x;
		background-position: top;
		padding-top: 2.5rem;
	}

	@include breakpoint(medium) {
		@include grid-column(3);
		background-image: none;
		padding-top: 0;
	}
}
