@font-face {
  font-family: 'Edmondsans';
  src: url('../fonts/Edmondsans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Edmondsans-Bold.otf')  format('opentype'),
	     url('../fonts/Edmondsans-Bold.woff') format('woff'), url('../fonts/Edmondsans-Bold.ttf')  format('truetype'), url('../fonts/Edmondsans-Bold.svg#../fonts/Edmondsans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Edmondsans';
  src: url('../fonts/Edmondsans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Edmondsans-Medium.otf')  format('opentype'),
	     url('../fonts/Edmondsans-Medium.woff') format('woff'), url('../fonts/Edmondsans-Medium.ttf')  format('truetype'), url('../fonts/Edmondsans-Medium.svg#../fonts/Edmondsans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Edmondsans';
  src: url('../fonts/Edmondsans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Edmondsans-Regular.otf')  format('opentype'),
	     url('../fonts/Edmondsans-Regular.woff') format('woff'), url('../fonts/Edmondsans-Regular.ttf')  format('truetype'), url('../fonts/Edmondsans-Regular.svg#../fonts/Edmondsans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
