.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  padding: 0.25rem 0;
  opacity: 0.8;
}

p.wp-caption-text{
  font-size:90%;
  color: #666;
  padding:rem-calc(10) 0;
}

.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Gallery
.gallery-columns-2 {
    @include grid-row();
    .gallery-item {
        margin:0;
        @include grid-column(6 of 12);
        
        text-align: center;
    }
}

.gallery-columns-3 {
    @include grid-row();
    .gallery-item {
        margin:0;
        @include grid-column(4 of 12);
        
        text-align: center;
    }
}

.gallery-columns-4 {
    @include grid-row();
    .gallery-item {
        margin:0;
        @include grid-column(3 of 12);
        
    }
}

.gallery-columns-5 {
    @include grid-row();
    .gallery-item {
        margin:0;
        @include grid-column(2.4 of 12);
        
    }
}
